.App {
  background-color: #555555;
  width: 100%;
  min-height: 90vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

header{
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: flex-start;
  align-items: center;
  background-color: #AB2A19;
  color: white;
}

a{
  color: white;
  font-size: 24px;
}

button{
  font-size: 24px;
  background-color: #3AD886;
  border-radius: 10px;
  color: black;
  border: none;
}

.left-header{
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
}

.header-buttons{
  background-color: #ED6B5A;
  padding: 4px;
  margin-right: 15px;
  font-size: 24px;
  border-radius: 10px;
  text-decoration: none;
  color: black;
}

.header-buttons:hover{
  background-color: #D34735;
}

p{
  margin: 0;
}

.form-button{
  background-color: #ED6B5A;
}

.form-button:hover{
  background-color: #D34735;
}

button:hover{
  background-color: #ED6B5A;
  color: black;
}

img{
  height: 200px;
}

.list{
  background-color: white;
  min-height: 90vh;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.product-container{
  border-radius: 10px;
  min-width: 500px;
  padding: 15px;
  margin: 15px;
  display: flex;
  justify-content: flex-start;
  flex-flow: row;
  align-items: center;
  background-color: #D34735;
}

.product-data{
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  align-items: center;
}

.product-info{
  padding: 5px;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: flex-start;
}

.product{
  border-radius: 10px;
  display: flex;
  margin: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  min-height: 450px;
  min-width: 450px;
  justify-content: space-around;
  flex-flow: column;
  align-items: center;
  background-color: #D34735;
  color: white;
}

.form{
  background-color: #3AD886;
}

.buttons{
  width: 100%;
  margin: 15px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

#shelfie-icon{
  height: 80px;
}
#shelfie{
  display: flex;
}